subreddit1, subreddit2, subreddit3

{ sub_reddit: "subreddit1", text: "\"hi\"", id: "\"a1143cce-c2c7-11ea-96a7-0e3b99d20df5\"" }
{ sub_reddit: "subreddit1", text: "\"hi2\"", id: "\"c6767504-c2c8-11ea-816a-0e94b50efdb3\"" }
{ sub_reddit: "subreddit2", text: "\"hi3\"", id: "\"1234bd7e-1413-11eb-b73a-0e7812a1d4bb\"" }
{ sub_reddit: "subreddit2", text: "\"hi4\"", id: "\"00e19986-1413-11eb-8f50-0e47b7f7719d\"" }
{ sub_reddit: "subreddit3", text: "\"hi5\"", id: "\"a377dcae-c2c7-11ea-8580-0e70cf563745\"" }